<div class="admin-sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" />
  </div>
  <div class="links">
    <ul>
      <li routerLink="/dashboard" routerLinkActive="router-link-active">
        <a><i class="pi pi-home"></i>Bảng điều khiển</a>
      </li>
      <li routerLink="/products" routerLinkActive="router-link-active">
        <a><i class="pi pi-briefcase"></i>Sản phẩm</a>
      </li>
      <li routerLink="/categories" routerLinkActive="router-link-active">
        <a><i class="pi pi-list"></i>Danh mục</a>
      </li>
      <li routerLink="/orders" routerLinkActive="router-link-active">
        <a><i class="pi pi-shopping-cart"></i>Đơn hàng</a>
      </li>
      <li routerLink="/users" routerLinkActive="router-link-active">
        <a><i class="pi pi-users"></i>Người dùng</a>
      </li>
      <li>
        <a class="logout"><i class="pi pi-sign-out"></i>Đăng xuất</a>
      </li>
    </ul>
  </div>
</div>
