<header>
  <div class="grid">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" [routerLink]="'/'" alt="logo" />
      </div>
    </div>
    <div class="col-4 search">
      <products-search></products-search>
    </div>
    <div class="col-3 col-offset-1 navigation">
      <dango-shop-nav></dango-shop-nav>
    </div>
    <div class="col-1 tools">
      <users-account-icon></users-account-icon>
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header>
