body,
.p-component {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}

ul {
  @include reset-list;
}

td {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
