$res_320: 'only screen and (max-width: 320px)';
$res_375: 'only screen and (max-width: 375px)';
$res_425: 'only screen and (max-width: 425px)';
$res_768: 'only screen and (max-width: 768px)';
$res_992: 'only screen and (max-width: 992px)';
$res_1024: 'only screen and (max-width: 1024px)';

@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}
@mixin responsive_375() {
  @media #{$res_375} {
    @content;
  }
}
@mixin responsive_425() {
  @media #{$res_425} {
    @content;
  }
}
@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}
@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}
@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}
