.d-item {
  display: flex;
  text-align: center;
  color: var(--surface-a);
  justify-content: space-between;

  .pi {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .name {
    font-size: 1rem;
  }

  .number {
    max-width: 50%;
    margin-top: 50px;
    font-size: 2em;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include responsive_992 {
    .pi {
      font-size: 2rem;
    }
    .number {
      font-size: 2em;
    }
  }
}

.d-card {
  background-color: #f99f38;
  cursor: pointer;
}
