<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Cập nhật sản phẩm' : 'Thêm sản phẩm mới'"
    subheader="Bạn có thể thêm mới hoặc cập nhật sản phẩm"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-2"
              [label]="editMode ? 'Cập nhật' : 'Thêm'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
            <p-button
              styleClass="p-button-secondary"
              label="Hủy"
              icon="pi pi-arrow-circle-left"
              (click)="onCancel()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col">
              <label for="name">Tên</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small
                *ngIf="productForm.name.invalid && isSubmitted"
                class="p-error"
                >Vui lòng nhập tên sản phẩm
              </small>
            </div>
            <div class="p-field col">
              <label for="brand">Nhãn hiệu</label>
              <input
                formControlName="brand"
                id="brand"
                type="text"
                pInputText
              />
            </div>
            <div class="p-field col">
              <label for="price">Giá</label><br />
              <p-inputNumber
                formControlName="price"
                mode="decimal"
                inputId="price"
                [useGrouping]="false"
              >
              </p-inputNumber>
              <small
                *ngIf="productForm.price.invalid && isSubmitted"
                class="p-error"
                >Vui lòng nhập giá
              </small>
            </div>
          </div>

          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-4">
              <label for="countInStock">Số lượng</label><br />
              <p-inputNumber
                formControlName="countInStock"
                mode="decimal"
                inputId="countInStock"
                [useGrouping]="false"
              >
              </p-inputNumber>
              <small
                *ngIf="productForm.countInStock.invalid && isSubmitted"
                class="p-error"
                >Vui lòng nhập số lượng
              </small>
            </div>

            <div class="p-field col-4">
              <label for="category">Danh mục</label><br />
              <p-dropdown
                [options]="categories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filter="name"
                [showClear]="true"
                placeholder="Chọn danh mục"
              ></p-dropdown>
              <small
                *ngIf="productForm.category.invalid && isSubmitted"
                class="p-error"
                >Vui lòng nhập danh mục
              </small>
            </div>

            <div class="p-field col-4">
              <label for="isFeatured">Nổi bật</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>

            <div class="p-field col-12">
              <label for="description">Chi tiết</label><br />
              <textarea
                formControlName="description"
                [rows]="7"
                [cols]="30"
                pInputTextarea
              ></textarea>
              <small
                *ngIf="productForm.description.invalid && isSubmitted"
                class="p-error"
                >Vui lòng nhập mô tả
              </small>
            </div>

            <div class="p-field col-12">
              <label for="richDescription">Mô tả</label><br />
              <p-editor
                formControlName="richDescription"
                [style]="{ height: '320px' }"
              ></p-editor>
            </div>

            <div class="p-field col-12">
              <label for="name">Ảnh</label><br />
              <input
                type="file"
                class="p-inputtext"
                accept="image/*"
                (change)="onImageUpload($event)"
              />
              <small
                *ngIf="productForm.image.invalid && isSubmitted"
                class="p-error"
                >Vui lòng thêm ảnh</small
              >
              <div class="col-2 mt-2 pl-0">
                <img style="width: 100%" [src]="imageDisplay" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
